@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Overpass', sans-serif;
  --ff-secondary: 'Ubuntu', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /*Primary */
  --clr-light-red-btn: hsl(356, 100%, 66%);
  --clr-very-light-red-btn: hsl(355, 100%, 74%);
  --clr-very-dark-blue: hsl(208, 49%, 24%);

  /* Neutral */

  --clr-white: hsl(0, 0%, 100%);
  --clr-grayish-blue: hsl(240, 2%, 79%);
  --clr-very-dark-grayish-blue: hsl(207, 13%, 34%);
  --clr-very-dark-black-blue: hsl(240, 10%, 16%);

  /* Gradient */

  --clr-very-light-red: hsl(13, 100%, 72%);
  --clr-light-red: hsl(353, 100%, 62%);

  --clr-very-dark-gray-blue: hsl(237, 17%, 21%);
  --clr-very-dark-desaturated-blue: hsl(237, 23%, 32%);

  --clr-pink: hsl(322, 100%, 66%);
  --clr-pink-hover: hsl(322, 87%, 76%);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-very-dark-grayish-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-light);
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */
.title {
  font-size: var(--fs-36);
  color: var(--clr-white);
  font-weight: var(--fw-semi-bold);
  letter-spacing: -1.08px;
  line-height: 1.53;
}

.hero-subtitle {
  font-size: var(--fs-18);
  color: var(--clr-white);
}

.md-title,
.sm-title {
  font-size: var(--fs-28);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-very-dark-blue);
}

.sm-title {
  line-height: 1.14385;
}

.copy-text {
  letter-spacing: 0.5px;
  line-height: 1.75;
}

.md-title--bis {
  font-size: var(--fs-40);
  line-height: 1.5325;
  color: var(--clr-white);
}

.copy-text--bis {
  color: var(--clr-white);
}

.footer__title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-18);
  font-weight: var(--fw-medium);
  color: var(--clr-white);
}

.footer__link {
  font-family: var(--ff-secondary);
  font-size: var(--fs-18);
  font-weight: var(--fw-regular);
  color: var(--clr-grayish-blue);
  text-decoration: none;
}

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  display: inline-block;
  color: var(--clr-light-red-btn);
  background-color: var(--clr-white);
  text-decoration: none;
  font-size: var(--ff-secondary);
  font-weight: var(--fw-bold);
  padding: 0.75em 1em;
  width: 137px;
  border-radius: 2em;
  border: 1px solid var(--clr-white);
}

.btn:hover,
.btn:focus {
  color: var(--clr-white);
  background: var(--clr-very-light-red-btn);
  border: 1px solid var(--clr-very-light-red-btn);
}

.btn--2 {
  color: var(--clr-white);
  background: transparent;
  border: 1px solid var(--clr-white);
}

.btn--2:hover,
.btn--2:focus {
  background: var(--clr-white);
  color: var(--clr-very-light-red-btn);
}

.open-nav {
  background-color: transparent;
  border: none;
}

.close-nav {
  display: none;
}

/* ================== */
/* Utility styles */
/* ================== */

.desktop-img {
  display: none;
}

/* ================== */
/* SECTIONS */
/* ================== */

.header {
  background-image: url('./images/bg-pattern-intro.svg'),
    linear-gradient(to bottom, var(--clr-very-light-red) 0%, var(--clr-light-red) 100%);
  background-size: 280%;
  background-repeat: no-repeat;
  background-position: -20em 0em;

  height: 600px;

  border-radius: 0 0 0 6em;
}

.header-logo-and-nav-container {
  padding: 3.5em 1.5em 0;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 82px;
}

.nav {
  display: none;
}

.hero {
  margin-top: 6.75em;
}

.title,
.hero-subtitle {
  width: 80%;
  margin: 0 auto;
}

.hero-buttons {
  margin-top: 3em;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/* Main */
.main {
  padding-top: 6.25em;
}

.feat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feat--one {
  padding: 0 1.5em;
}

.feat--one .feat__illustration {
  order: -1;
  margin-top: 2.375em;

  max-width: 400px;
}

.feat--one .feat__copy,
.feat--two .feat__copy,
.feat--three .feat__copy {
  margin-top: 2.875em;
}

.feat--one .sm-title {
  width: 80%;
  margin: 0 auto;
}

.feat--one .copy-text,
.feat--two .copy-text,
.feat--three .copy-text {
  margin: 1.5em auto 0;
  width: 95%;

  max-width: 500px;
}

.feat--one .copy-block:nth-last-of-type(1),
.feat--three .copy-block:nth-last-of-type(1) {
  margin-top: 2.5em;
}

/* Feat Two */
.feat--two {
  padding: 0 1.5em 5.815em;

  margin-top: 17em;

  background-image: url('./images/bg-pattern-circles.svg'),
    linear-gradient(
      to bottom,
      var(--clr-very-dark-gray-blue) 0%,
      var(--clr-very-dark-desaturated-blue) 100%
    );

  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 0em 0em;

  border-radius: 0 6em 0 6em;
}

.feat--two .feat__illustration {
  order: -1;
  margin-top: -10em;
  padding-top: 2em;

  overflow: hidden;

  max-width: 400px;
}

.phones-img {
  transform: scale(1.2);
}

/* Feat Three */
.feat--three {
  margin-top: 4.9375em;
  padding: 0 1.5em 6.25em;
}

.feat--three .feat__illustration {
  order: -1;
  overflow: hidden;
  padding: 3.25em 0;
}

.feat--three .mobile-img {
  transform: scale(1.5);

  max-width: 400px;
}

/* Footer */

.footer {
  background: var(--clr-very-dark-black-blue);
  border-radius: 0 6em 0 0;

  text-align: center;

  padding-bottom: 0.5em;
}

.footer__grid {
  padding: 4.6875em 1.5em;

  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 2.5em;
}

.footer__logo {
  margin: 0 auto;
}

.footer__list {
  margin-top: 1.3125em;
}

.footer__list li {
  margin-top: 0.5em;
  list-style: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

@media (min-width: 1050px) {
  /* Typography */
  .title {
    font-size: var(--fs-64);
  }

  .md-title.md-title--bis {
    font-size: var(--fs-32);
  }

  /* Utility classes */
  .desktop-img {
    display: block;
  }

  .mobile-img {
    display: none;
  }

  .hero-subtitle {
    font-size: var(--fs-20);
    color: var(--clr-white);
  }

  .md-title {
    font-size: var(--fs-40);
  }

  /* Sections */
  .header-logo-and-nav-container {
    padding: 4em 4em 0;
  }

  .main {
    position: relative;
  }

  .md-title--main {
    position: absolute;
    top: 3.5em;
    left: 50%;
    transform: translateX(-50%);
  }

  .feat {
    flex-direction: row;
    justify-content: flex-start;
  }

  /* Feat one */
  .feat--one {
    padding: 0 4em;

    overflow: hidden;
  }

  .feat--one .feat__copy {
    width: 50%;

    padding-top: 2em;
  }

  .feat--one .copy-block,
  .feat--two .copy-block {
    text-align: left;
  }

  .feat--one .sm-title {
    width: 100%;
    margin: 0;
  }

  .feat--one .copy-text,
  .feat--two .copy-text,
  .feat--three .copy-text {
    margin: 1.5em 0 0;
    width: 100%;

    max-width: 540px;
  }

  .feat--one .feat__illustration {
    order: 0;
    margin-top: unset;
    padding: 8.5em 0;
  }

  .feat--one .feat__illustration .desktop-img {
    transform: scale(1.7) translateX(30%);
  }

  /* feat two */
  .feat--two {
    padding: 0 4em 5.815em;

    width: 100%;
    gap: 0;

    margin-top: 8em;

    max-height: 300px;
  }

  .feat--two .feat__copy {
    width: 100%;

    margin-top: 6em;
    padding-left: 0;
  }

  .feat--two .feat__illustration {
    width: 100%;
    max-width: unset;
    margin-top: 0em;
    margin-bottom: -8em;
    padding: 3em 0em 3em 2em;
  }

  .feat--two .feat__illustration .phones-img {
    transform: scale(1) translateX(-15%);
  }

  /* Feat three */

  .feat--three {
    margin-top: 8em;
    padding: 0 4em 6.25em 0em;
  }

  .feat--three .feat__copy {
    margin-top: 0;
    padding-left: 2.5em;

    width: 100%;

    text-align: left;
  }

  .feat--three .feat__illustration {
    padding: 6em 0em 6em 2em;

    width: 100%;
  }

  .feat--three .desktop-img {
    transform: scale(1.5) translateX(-15%);
  }
}
