@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Overpass', sans-serif;
  --ff-secondary: 'Ubuntu', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /*Primary */
  --clr-light-red-btn: hsl(356, 100%, 66%);
  --clr-very-light-red-btn: hsl(355, 100%, 74%);
  --clr-very-dark-blue: hsl(208, 49%, 24%);

  /* Neutral */

  --clr-white: hsl(0, 0%, 100%);
  --clr-white-opaque: hsla(0, 0%, 100%, 0.8);
  --clr-grayish-blue-light: hsl(240, 2%, 88%);
  --clr-grayish-blue: hsl(240, 2%, 79%);
  --clr-very-dark-grayish-blue: hsl(207, 13%, 34%);
  --clr-very-dark-black-blue: hsl(240, 10%, 16%);

  /* Gradient */

  --clr-very-light-red: hsl(13, 100%, 72%);
  --clr-light-red: hsl(353, 100%, 62%);

  --clr-very-dark-gray-blue: hsl(237, 17%, 21%);
  --clr-very-dark-desaturated-blue: hsl(237, 23%, 32%);

  --clr-pink: hsl(322, 100%, 66%);
  --clr-pink-hover: hsl(322, 87%, 76%);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-very-dark-grayish-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-light);
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */

.title {
  color: var(--clr-white);
  font-size: var(--fs-36);
  font-weight: var(--fw-semi-bold);
  letter-spacing: -1.08px;
  line-height: 1.53;
}

.hero-subtitle {
  color: var(--clr-white);
  font-size: var(--fs-18);
}

.md-title,
.sm-title {
  color: var(--clr-very-dark-blue);
  font-size: var(--fs-28);
  font-weight: var(--fw-semi-bold);
}

.sm-title {
  line-height: 1.14385;
}

.copy-text {
  letter-spacing: 0.5px;
  line-height: 1.75;
}

.md-title--bis {
  color: var(--clr-white);
  font-size: var(--fs-40);
  line-height: 1.5325;
}

.copy-text--bis {
  color: var(--clr-white);
}

/* ================== */
/* Links */
/* ================== */

.nav-link {
  font-size: var(--fs-18);
  font-weight: var(--fw-semi-bold);
  text-decoration: none;
  width: 100%;
}

.nav-link__text {
  color: var(--clr-very-dark-gray-blue);
}
.nav-link__text:hover,
.nav-link__text:focus {
  color: var(--clr-very-dark-grayish-blue);
}

.drop-link {
  color: var(--clr-very-dark-blue);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
}

.drop-link:hover,
.drop-link:focus {
  font-weight: var(--fw-bold);
}

.footer__title {
  color: var(--clr-white);
  font-family: var(--ff-secondary);
  font-size: var(--fs-18);
  font-weight: var(--fw-medium);
}

.footer__link {
  color: var(--clr-grayish-blue);
  font-family: var(--ff-secondary);
  font-size: var(--fs-18);
  font-weight: var(--fw-regular);
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus {
  text-decoration: underline;
}

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  background: var(--clr-white);
  border: 1px solid var(--clr-white);
  border-radius: 2em;
  color: var(--clr-light-red-btn);
  display: inline-block;
  font-size: var(--ff-secondary);
  font-weight: var(--fw-bold);
  margin-top: 1.5em;
  padding: 0.75em 1em;
  text-decoration: none;
  width: 137px;
}

.btn:hover,
.btn:focus {
  background: var(--clr-very-light-red-btn);
  border: 1px solid var(--clr-very-light-red-btn);
  color: var(--clr-white);
}

.btn.btn--2 {
  background: transparent;
  border: 1px solid var(--clr-white);
  color: var(--clr-white);
}

.btn.btn--2:hover,
.btn.btn--2:focus {
  background: var(--clr-white);
  color: var(--clr-very-light-red-btn);
}

.open-nav,
.close-nav {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-nav {
  display: none;
}

/* ================== */
/* Utility styles */
/* ================== */

.desktop-img {
  display: none;
}

/* ================== */
/* SECTIONS */
/* ================== */

.header {
  border-radius: 0 0 0 6em;
  height: 600px;
  /* Background */
  background-image: url('./images/bg-pattern-intro.svg'),
    linear-gradient(to bottom, var(--clr-very-light-red) 0%, var(--clr-light-red) 100%);
  background-size: 280%;
  background-repeat: no-repeat;
  background-position: -20em 0em;
}

.header-logo-and-nav-container {
  padding: 3.5em 1.5em 0;
  /* Position */
  position: relative;
}

.header__row {
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 82px;
}

.nav {
  display: none;
}

.nav.open {
  background: var(--clr-white);
  border-radius: 0.5em;
  box-shadow: 2px 11px 6px 2px rgba(0, 0, 0, 0.1);
  margin: 0 1.5em;
  padding: 1.5em 1.5em 2em;
  /* Position */
  position: absolute;
  top: 8em;
  left: 0;
  right: 0;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav.open .logo {
  display: none;
}

.nav-group {
  width: 100%;
}

.nav-list,
.drop-bar {
  list-style-type: none;
}

.nav-item {
  margin-top: 1.5em;
  width: 100%;
}

.drop-bar {
  display: none;
}

.nav-link--main.open .drop-bar {
  background: var(--clr-grayish-blue-light);
  border-radius: 0.5em;
  margin-top: 1.5em;
  padding: 1em 0 1.5em;
  width: 100%;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
}

.nav-list--one {
  padding-bottom: 1.5em;
}

.nav-list--two {
  border-top: 1px solid var(--clr-grayish-blue);
  padding-top: 1.5em;
  width: 100%;
}

.nav-link__arrow {
  display: inline-block;
  filter: invert(35%) sepia(60%) saturate(3178%) hue-rotate(331deg) brightness(101%)
    contrast(101%);
}

.nav-link:hover .nav-link__arrow,
.nav-link:focus .nav-link__arrow,
.nav-link:active .nav-link__arrow {
  transform: rotate(180deg);
}

/* Hero */
.hero {
  margin-top: 6.75em;
}

.title,
.hero-subtitle {
  margin: 0 auto;
  width: 80%;
}

.hero-buttons {
  margin-top: 3em;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/* Main */
.main {
  padding-top: 6.25em;
  overflow: hidden;
}

.feat {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feat--one .feat__illustration {
  order: -1;
  margin-top: 2.375em;
  max-width: 400px;
}

.feat--one .feat__copy,
.feat--two .feat__copy,
.feat--three .feat__copy {
  margin-top: 2.875em;
  padding: 0 1.5em;
}

.feat--one .sm-title {
  margin: 0 auto;
  width: 80%;
}

.feat--one .copy-text,
.feat--two .copy-text,
.feat--three .copy-text {
  margin: 1.5em auto 0;
  width: 95%;
  max-width: 500px;
}

.feat--one .copy-block:nth-last-of-type(1),
.feat--three .copy-block:nth-last-of-type(1) {
  margin-top: 2.5em;
}

/* Feat Two */
.feat--two {
  border-radius: 0 6em 0 6em;
  margin-top: 17em;
  padding: 0 1.5em 5.815em;
  /* Background */
  background-image: url('./images/bg-pattern-circles.svg'),
    linear-gradient(
      to bottom,
      var(--clr-very-dark-gray-blue) 0%,
      var(--clr-very-dark-desaturated-blue) 100%
    );
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 0em 0em;
}

.feat--two .feat__illustration {
  margin-top: -10em;
  overflow: hidden;
  padding-top: 2em;
  max-width: 400px;
  /* Flex */
  order: -1;
}

.phones-img {
  transform: scale(1.2);
}

/* Feat Three */
.feat--three {
  margin-top: 4.9375em;
  padding: 0 1.5em 6.25em;
}

.feat--three .feat__illustration {
  overflow: hidden;
  padding: 3.25em 0;
  /* Flex */
  order: -1;
}

.feat--three .mobile-img {
  transform: scale(1.5);
  max-width: 400px;
}

/* Footer */
.footer {
  background: var(--clr-very-dark-black-blue);
  border-radius: 0 6em 0 0;
  padding-bottom: 0.5em;
  text-align: center;
}

.footer__grid {
  padding: 4.6875em 1.5em;
  /* Grid */
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 2.5em;
}

.footer__logo {
  margin: 0 auto;
}

.footer__list {
  margin-top: 1.3125em;
}

.footer__list li {
  list-style: none;
  margin-top: 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

@media (min-width: 1050px) {
  /* Typography */
  .title {
    font-size: var(--fs-64);
  }

  .md-title.md-title--bis {
    font-size: var(--fs-32);
  }

  .footer__title,
  .footer__link {
    font-size: var(--fs-15);
  }

  /* Links */
  .nav-link {
    color: var(--clr-white-opaque);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
  }

  .nav-link:hover .nav-link__text,
  .nav-link:focus .nav-link__text {
    border-bottom: 2px solid var(--clr-white);
    color: var(--clr-white);
    padding-bottom: 0.1em;
  }

  /* Buttons and inputs */
  .btn {
    background-color: var(--clr-white);
    color: var(--clr-light-red-btn);
  }

  /* Utility classes */
  .desktop-img {
    display: block;
  }

  .mobile-img {
    display: none;
  }

  .hero-subtitle {
    color: var(--clr-white);
    font-size: var(--fs-20);
  }

  .md-title {
    font-size: var(--fs-40);
  }

  /* Sections */
  .header-logo-and-nav-container {
    padding: 4em 4em 0;
  }

  .header__row {
    display: none;
  }

  .nav {
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-group {
    /* Flex */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4em;
  }

  .nav-list {
    list-style: none;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .nav-item {
    width: unset;
  }

  .nav-link {
    /* Position */
    position: relative;
  }

  .nav-link__arrow {
    filter: unset;
  }

  .nav-link__text {
    color: var(--clr-white);
  }

  .nav-link--main.open .drop-bar,
  .nav-link--main:hover .drop-bar,
  .nav-link--main:focus .drop-bar {
    background: var(--clr-white);
    border-radius: 0.5em;
    color: var(--clr-very-dark-gray-blue);
    display: block;
    line-height: 2.2;
    list-style: none;
    margin-top: unset;
    padding: 1.5em;
    width: 168px;
    /* Position */
    position: absolute;
    top: 3em;
    left: -1em;
  }

  .nav-list--two {
    border-top: unset;
    padding-top: unset;
    /* Flex */
    justify-content: flex-end;
  }

  .nav-list--two .btn {
    margin-top: unset;
  }

  .main {
    /* Position */
    position: relative;
  }

  .md-title--main {
    transform: translateX(-50%);
    /* Position */
    position: absolute;
    top: 3.5em;
    left: 50%;
  }

  .feat {
    /* Flex */
    flex-direction: row;
    justify-content: flex-start;
  }

  /* Feat one */
  .feat--one,
  .feat--three {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 4em;
    max-width: unset;
  }

  .feat--one .feat__copy {
    padding-top: 2em;
    width: 100%;
  }

  .feat--one .copy-block,
  .feat--two .copy-block {
    text-align: left;
  }

  .feat--one .sm-title {
    margin: 0;
    width: 100%;
  }

  .feat--one .copy-text,
  .feat--two .copy-text,
  .feat--three .copy-text {
    margin: 1.5em 0 0;
    width: 100%;
    max-width: 540px;
  }

  .feat--one .feat__illustration {
    margin-top: unset;
    padding: 11em 0;
    width: 100%;
    max-width: unset;
    /* Flex */
    order: 0;
  }

  .feat--one .desktop-img {
    transform: scale(1.7) translateX(30%);
    max-width: 500px;
  }

  /* feat two */
  .feat--two {
    margin-top: 8em;
    max-height: 400px;
    padding: 0 4em 5.815em;
    width: 100%;
    /* Flex */
    gap: 0;
  }

  .feat--two .feat__copy {
    margin-top: 6em;
    padding-left: 0;
    width: 100%;
  }

  .feat--two .feat__illustration {
    margin-top: 0em;
    margin-bottom: -8em;
    padding: 3em 0em 3em 3em;
    width: 100%;
    max-width: unset;
  }

  .feat--two .feat__illustration .phones-img {
    transform: scale(1) translateX(-15%);
  }

  /* Feat three */

  .feat--three {
    margin-top: 8em;
    padding: 0 4em 6.25em 0em;
  }

  .feat--three .feat__copy {
    margin-top: 0;
    padding-left: 2.55em;
    text-align: left;
    width: 100%;
  }

  .feat--three .feat__illustration {
    padding: 9em 0em 9em 2em;
    width: 100%;
    max-width: unset;
  }

  .feat--three .desktop-img {
    transform: scale(1.7) translateX(-15%);
    max-width: 500px;
  }

  /* Footer */

  .footer {
    background: var(--clr-very-dark-black-blue);
    border-radius: 0 6em 0 0;
    padding: 4.375em 4em 0.5em;
    text-align: center;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__grid {
    padding: 0;
    text-align: left;
    /* Grid */
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }

  .footer__signature {
    margin-top: 4.375em;
  }
}

@media (min-width: 1440px) {
  .header-logo-and-nav-container,
  .footer__grid {
    margin: 0 auto;
    max-width: 1850px;
  }

  .header-logo-and-nav-container {
    padding: 4em 0em 0;
  }

  .md-title.md-title--bis {
    font-size: var(--fs-40);
  }

  .feat--one,
  .feat--three {
    max-width: 2000px;
  }

  .feat--one .copy-text,
  .feat--two .copy-text,
  .feat--three .copy-text {
    max-width: unset;
  }

  .feat--two .feat__illustration .phones-img {
    transform: scale(1) translateX(-5%);
  }

  .feat--three .feat__illustration {
    padding: 9em 0em 9em 2em;
  }

  .feat--three .desktop-img {
    transform: scale(1.7) translateX(-5%);
    max-width: 500px;
  }
}

@media (min-width: 1600px) {
  .feat--two .feat__illustration .phones-img {
    transform: scale(1) translateX(2%);
  }

  .feat--three .desktop-img {
    transform: scale(1.7) translateX(2%);
  }
}

@media (min-width: 1800px) {
  .feat--two .feat__illustration .phones-img {
    transform: scale(1) translateX(9%);
  }

  .feat--three .desktop-img {
    transform: scale(1.7) translateX(9%);
  }
}

@media (min-width: 2000px) {
  .feat--two .feat__illustration .phones-img {
    transform: scale(1) translateX(40%);
  }

  .feat--three .feat__illustration {
    padding: 9em 0em 9em 5em;
  }

  .feat--three .desktop-img {
    transform: scale(1.7) translateX(15%);
  }
}

@media (min-width: 2000px) {
  .feat--two .feat__illustration .phones-img {
    transform: scale(1) translateX(65%);
  }
}
